.bi-apple {
    font-size: 40px;
    color: red;
    padding: 10px;
}

.bi-youtube {
    font-size: 40px;
    color: greenyellow;
    padding: 10px;
}

.bi-wifi-2 {
    font-size: 40px;
    color: blue;
    padding: 10px;
}
.col {
    border: 2px solid red;
    justify-content: center;
   
}
