.container {
    border: 5px dotted blue;
    padding: 10x;
    margin-bottom: 300px;
}
.row{
    border: 5px solid purple;
    height: 100px;
    padding: 10px;
    margin: 0;
}
.col {
    border: 2px dashed red;
    height: 100px;
    margin: 0;
}